@import "custom.css";

/* MVP STYLR START */
.banner{
  position: absolute;
  content: "";
  right: 0;
  top: 5%;
  width: 100%;
  bottom: 0px;
  height: 769px;
  background-image: url(../images/mvp/tail.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.banner h4{
  font-size: 32px;
font-weight: 600;
line-height: 41px;
color: #010101;
}

.banner p{
  font-size: 18px;
  font-weight: 200;
  line-height: 29px;
  color: #000000;
  text-align: center;
}

/* tailored MVP section start */
.tailored-mvp h5 {
font-size: 32px;
font-weight: 600;
line-height: 41px;
}

.tailored-mvp p {
  font-size: 18px;
  font-weight: 200;
  line-height: 29px;
  color: #000000;
} 

.tailored-mvp {
  background-color: #EBEBF5;
}

.why-us-section {
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/web-assets/images/mvp/whyUsBackground.png");
  background-color: #f0f0f0;
  border-radius: 14px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  background: linear-gradient(
      100.5deg,
      rgba(57, 18, 241, 0.4) 29.55%,
      rgba(164, 129, 255, 0.4) 93.8%
    ),
    radial-gradient(
        38.35% 93.72% at 18.31% 6.28%,
        rgba(170, 135, 252, 0.8) 0%,
        rgba(52, 27, 146, 0.8) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.section-one {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 80px;
}

.section-sub {
  display: flex;
  gap: 20px;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.why-us-button {
  padding-right: 22px;
  padding-left: 22px;
  background-color: inherit;
  border-radius: 15px;
  border: 1px solid #ffffff;
  box-shadow: none;
  height: 30%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section-two .heading {
  margin: 0px;
  font-size: 45px;
  font-weight: 700;
  line-height: 56.7px;
}

.section-two p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}

.why-us-section-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.why-us-count {
  font-size: 48px;
  font-weight: 700;
  line-height: 60.48px;
  color: #ffffff;
  text-align: center;
}

.why-us-label {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}

/* JOIN OUR MVP COMMUNITY STYLE START   */
.join-our-community {
  display: flex;
  flex-direction: column;
  height: 1267px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/web-assets/images/mvp/joinOurCommunityBackgroundPicture.png");
}

.inner-section-one {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 158px;
}

.inner-section-one h2 {
  font-family: Outfit;
  font-size: 30px;
  font-weight: 700;
  line-height: 46.2px;
  color: #ffffff;
}

.inner-part-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 10px;
 

}

.inner-part-two div {
  text-align: center;
  /* background-color: #f5f5f5; */

}

.multi-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.one{
  height: 100%;
  width: 100%;
}

.two{
  height: 100%;
  width: 100% ;

}

.single-item{
  height: 100%;
  width: 100% ;

}

.single-item2{
height: 50%;
 width: 100% ;

}

.inner-part-three {
  text-align: center;
  color: #ffffff;
}

.inner-part-three p {
  font-size: 35px;
  font-weight: 400;
  line-height: 46.2px;
}

.inner-part-four {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.inner-part-four button {
  padding: 10px 22px;
  background-color: inherit;
  border-radius: 15px;
  border: 1px solid #ffffff;
  box-shadow: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

/* JOIN OUR MVP COMMUNITY STYLE END   */
.faq-section {
  padding: 50px 0;
  margin-bottom: 50px;
}

.faq-section p {
  font-size: 2.2rem;
  font-weight: 600;
}

.faq-section .containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.faq-section img {
  max-width: 80%;
  height: auto;
  margin-top: 40px;
}

#faqAccordion > div {
  margin-bottom: 30px; / Adds space between FAQ items /
}


accordion-button:focus{
  border-color: #ffffff;
}

.accordion {
  background: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.accordion-button {
  position: relative;
  padding-left: 40px;
  font-weight: 500;
  font-size: 1rem;
  background-color: white;
}

.accordion-button .collapsed{
 background-color: bisque;
}

.accordion-button::before {
  content: '\25BA';
  position: absolute;
  left: 15px;
  font-size: 1rem;
  color: black;
  transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::before {
  transform: rotate(90deg);
}

.accordion-body {
  padding-left: 40px;
  font-size: 0.95rem;
  color: #333;
}

.accordion-button:not(.collapsed)::after{
  display: none;
}

.accordion-button::after{
  display: none;
}

.accordion-button:focus{
  box-shadow: none;
}

button:focus:not(:focus-visible){
  outline: none;
}

.accordion-button:not(.collapsed){
  background-color: #ffff;
  color: black;
}

.portfolio-deatil-banner {
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.lets-create {
  position: absolute;  
  top: 57%; 
  /* right: 173px;  */
   transform: translateY(-50%); 
  z-index: 1;
  background-image: url('/web-assets/images/mvp/letscreatepic.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 80px;

}

.lets-create-items {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  left: -47px;
}

.lets-create-text {
  font-size: 36px;
  font-weight: 100;
  line-height: 42px;
}

.lets-create-text button {
  padding: 5px 5px;
  border: none;
  margin-top: 12px;
  border-radius: 15px;
  background-color: #27146EDB;
  color: #ffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 85%;
}


.mvp-tab-section{
  /* margin-top: 140px; */
  padding: 10px;
  /* background-color: #e3204a; */
  /* background-color: #EBEBF5; */
}

.main-tabs-section{
  position: relative;
  margin-top: 10px;
  background-color: white;
}

.tabs{
font-size: 18px;
font-weight: 700;
line-height: 42px;
display: flex;
justify-content: center;
gap: 15px;
color: #817c7c;
}

.tab-inner-one span{
  padding: 20px;
}

.tab-inner-one{
  display: flex;
  /* gap: 50px; */
  justify-content: space-between;
  background-color: #EBEBF5;
  /* background-color: inherit; */
  /* background-color: #e3204a; */
}

.inner-two{
  display: flex;
  margin-top: 50px;
  gap: 80px ;
  padding: 25px;
  /* box-shadow: 0px -18px 16.8px 0px #E9E7F0;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 
  5px 0 10px rgba(0, 0, 0, 0.2);  */
}


.tabs-content-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs-heading{
font-size: 30px;
font-weight: 400;
line-height: 33px;
}

.tabs-content{
font-size: 18px;
font-weight: 300;
line-height: 21.6px;
}


.tabs-content-setion-one{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tabs-content-setion-one span{
font-size: 19px;
font-weight: 400;
line-height: 25.65px;
letter-spacing: -0.01em;
text-align: left;
text-decoration-line: underline;
text-decoration-style: solid;
color: #7561C1;

}

#content-image {
  height: auto;
} 

/* .tabs.active-tab img {
  content: url('web-assets/images/mvp/tabactivearrow.svg');
} */

.tabs img.inactive-arrow {
  content: url('web-assets/images/mvp/tabinactivearrow.svg');
}
.tabs.active-tab {
  color: black;
  background-color: white;
}

.achieve-cost-section{
  display: flex;
  align-items: center;
  gap: 200px;
  margin-top: px;
  
}

.achieve-cost-inner-one{
  margin-top: 20px;
}

.achieve-cost-inner-two{
margin-top: -120px;
}

.achieve-cost-inner-one h3{
font-size: 32px;
font-weight: 600;
line-height: 41px
}

/* MVP STYLE END */
@media (max-width: 1360px ){
  .inner-part-two{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .join-our-community{
    height: 100%;
    width: 100% ;
  }
  .multi-item{
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .bannerone{
    display: none;
  }
  .mvp-tab-section{
    margin-top: 100px;
  }
  .tabs{
    font-size: 15px;
  }

}

@media (max-width: 1200px) {
  .tab-inner-one {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping of items */
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: 10px; /* Adds spacing between items */
    padding: 10px; /* Optional: Adds some inner spacing */
  }

  .tab-inner-one .tabs {
    flex: 0 0 auto; /* Prevents shrinking and ensures each tab maintains its size */
    white-space: nowrap; /* Prevents text wrapping */
  }

  /* Optional: Style the scroll behavior */
  .tab-inner-one::-webkit-scrollbar {
    height: 6px; /* Adjusts scrollbar height */
  }
  .tab-inner-one::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  .tab-inner-one::-webkit-scrollbar-track {
    background-color: transparent; /* Track background */
  }

  .faq-section .containers{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }

  .one{
    height: 50%;
    width: 100%;
  }
  
  .two{
    height: 50%;
    width: 100%;
  
  }
  
  .custom-community-image1{
    height: 100%;
    width: 100%;
  
  }
  
  .custom-community-image4{
    height: 50%x;
    width: 100%;
  
  }

  .join-our-community{
    height: 100%;
    width: 100% ;
  }

  .multi-item{
    flex-direction: column;
    gap: 10px;
    
  }

  .achieve-cost-section{
    flex-direction: column;
  }

  .inner-two{
    flex-direction: column;
  }

  .inner-section-one{
    gap: 108px;
  }

  .part-two{
    margin-bottom: 81px;
    padding: 10px
  }
  .lets-create{
    position: relative;
    padding: 60px;
  }
  .lets-create-items{
    left: -36px;
  }
 
  .lets-create-text{
    font-size: 33px;
  }

  .portfolio-detail-page-wrapper .portfolio-deatil-banner .title{
    font-size: 42px;
  }

  .banner{
    display: none;
  }
  
  .bannerone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EBEBF5;
    margin-top: 100px;
  }
  .bannerone h4{
  font-size: 27px;
  font-weight: 600;
  line-height: 41px;
  color: #010101;
  margin-top: 10px;
  }
  
  .bannerone p{
    font-size: 23px;
    font-weight: 200;
    line-height: 29px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }
 
}

@media (max-width: 944px) {
  .faq-section .containers{
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
  }

  .inner-two img{
    display: none;
    
  }
  .inner-two{
    gap: 0px;
  }

  .achieve-cost-inner-one h3{
    font-size: 23px;
    line-height: 37px;
    font-weight: 500;
  }

  .one{
    height: 100%;
    width: 100%;
  }
  
  .two{
    height: 100%;
    width: 100%;
  
  }
  
  .custom-community-image1{
    height: 100%;
    width: 100%;
  
  }
  
  .custom-community-image4{
    height: 100%x;
    width: 100%;
  
  }

  .join-our-community{
    height: 100%;
    width: 100% ;
  }

  .inner-section-one h2{
    font-size: 28px;
  }

  .inner-part-three p{
    font-size: 29px;
  }

  .bannerone{
    padding: 10px;
    margin-top: 0px;
  }
  .bannerone h4{
    font-size: 17px;
  }
  .bannerone p{
    font-size: 18px;
  }
  .mvp-tab-section{
    margin-top: 0px;
  }

  .why-us-section{
    height: 100%;
    padding: 30px;

  }
  /* .why-us-section-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 20px;
  } */

  .why-us-section-two{
    flex-direction: column;
  }

  /* .why-us-count{
    text-align: unset;
  } */

  .section-one{
    flex-direction: column;
    gap: 10px;
  }
  .section-sub-two{
    display: flex;
    justify-content: center;
  }

  .why-us-button{
    height: 100%;
  }
  
}


@media (max-width: 704px){
  .portfolio-detail-page-wrapper .portfolio-deatil-banner .title{
    font-size: 39px;
  }

  .achieve-cost-inner-one h3{
    font-size: 21px;
  }
  .faq-section p{
    font-size: 26px;
  }
  .faq-main{
    justify-content: center;
    align-items: center;
  }

  /* .faq-section .containers{
    grid-template-columns: repeat(1,1fr);
    gap: 440px;
  } */

  .bannerone{
    margin-top: 20px;
  }
  .tabs-heading{
    font-size: 28px;
  }

  /* .why-us-section-two{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
  } */

  .section-sub{
    flex-direction: column;
    align-items: center;
  }
  .section-two .heading{
    text-align: center;
  }

  .section-two p{
    text-align: center;
  }
}

